body{
	display: flex;
	background-color: blue;
	color: white;
	flex-direction: column;
}

main{
	flex-direction: row;
	flex: auto;
	background-color: red;
	display: flex;
}

article{
	flex: 2;
	overflow-y: auto;
}
aside{
	flex: 1;
	overflow-y: auto;
}

