body,main{
	display: flex;
	background-color: blue;
	color: white;

body{
	flex-direction: column;
}

main{
	flex-direction: row;
	flex: auto;
	background-color: red;
}

article{
	flex: 2;
}
aside{
	flex: 1;
}

article, aside{
	overflow-y: auto;
}

